= simple_form_for @stock, html: { multipart: true} do |f|
  - if @stock.errors.any?
    #errors
      %p
        %p.red Error prevented this stock from saving

      %ul
        - @stock.errors.full_messages.each do |msg|
          %li.red= msg
  .panel_body
    = f.input :symbol, label: "Ticker Symbol", input_html: { class: 'form-control'}
    = f.input :buyprice, label: "Buy price", input_html: { class: 'form-control'}
    %br/
    = f.button :submit, class: 'btn btn-primary'
