= simple_form_for @stock, html: { multipart: true} do |f|
  - if @stock.errors.any?
    #errors
      %p
        = @stock.errors.count
        Prevented this stock from saving

      %ul
        - @stock.errors.full_messages.each do |msg|
          %li = msg
  .panel_body
    = f.input :symbol, label: "Ticker Symbol", input_html: { class: 'form-control'}
    = f.input :dividend_yield, input_html: { class: 'form-control'}
    = f.input :eps, label: "Earning/share", input_html: { class: 'form-control'}
    = f.input :yield, input_html: { class: 'form-control'}
    = f.input :discrate, input_html: { class: 'form-control'}
    = f.input :numyears, input_html: { class: 'form-control'}
    %br/
    = f.button :submit, class: 'btn btn-primary'
