- mystock = StockQuote::Stock.quote(@stock.title)

%br/
.row
.text-center.col-md-4.col-md-offset-4
  %h3= mystock.name

.row
.col-xs-12.col-sm-6.col-md-6
  %table.table.table-striped
    %caption= Time.now.year
    %thead
      %tr
        %th Current
        %th Value
    %tbody
      %tr
        %th{:scope => "row"} Price Paid
        %td= mystock.last_trade_price_only
      %tr
        %th{:scope => "row"}  Earnings per share
        %td= mystock.earnings_share
      %tr
        %th{:scope => "row"} P/E
        %td= mystock.pe_ratio
      %tr
        %th{:scope => "row"} Divident yield
        %td= mystock.dividend_yield
      %tr
        %th{:scope => "row"} yield
        %td
      %tr
        %th{:scope => "row"} eps_estimate_current_year
        %td= mystock.eps_estimate_current_year

.col-xs-12.col-sm-6.col-md-6
  %table.table.table-striped
    %caption= Time.now.year+1
    %thead
      %tr
        %th Estimates
        %th Value
    %tbody
      %tr
        %th{:scope => "row"} Price
        %td= mystock.last_trade_price_only
      %tr
        %th{:scope => "row"}  Earnings per share
        %td= mystock.earnings_share
      %tr
        %th{:scope => "row"} P/E
        %td= mystock.pe_ratio
      %tr
        %th{:scope => "row"} Divident yield
        %td= mystock.dividend_yield
      %tr
        %th{:scope => "row"} yield
        %td
      %tr
        %th{:scope => "row"} eps_estimate_current_year
        %td= mystock.eps_estimate_current_year

%br/

= link_to "Back", root_path, class: 'btn btn-default'
= link_to "Edit", edit_stock_path, class: 'btn btn-default'
= link_to "Delete", stock_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-default'
